@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
     yellow1: "#FEE100",
        yellow2: "#E4CA00",
*/

:root {
    --yellow1: #FEE100;
    --yellow2: #E4CA00;
    --darkNavyBlue:#1E293B;
}


@layer components {
 .siteContainer {
    @apply container mx-auto px-2 md:px-0;
    transition: all 500ms ease;
   
}

.btn-yellow1{
    background-color: var(--yellow1);
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;   
    text-align: center;
    padding: 12px 38px;
    text-transform: uppercase;
    z-index: 1;
    transition: all 500ms ease;
    color:var(--darkNavyBlue);
    letter-spacing: 1px;
    position: relative;
    
}

.btn-yellow1::before {
    background-color: var(--darkNavyBlue);
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    right: 0px;
    top: 0px;
    opacity: 0.1;
    z-index: -1;
    transition: all 500ms ease;
  
}

.btn-yellow1:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.btn-yellow1:hover::before{
    width: 100%;
    left: 0;
}

.header_nav .nav_item {
    @apply text-xl font-semibold dark:hover:text-yellow2 ;
}

.header_nav .active{
    color:var(--yellow1)!important;
    background-color: transparent!important;
    color: black;
    @apply hover:bg-transparent;
}

.dash_menu li {
    @apply mb-2 w-full;
}

.mobile_nav {
    
}

.mobile_nav li:first-of-type{
    margin-top: 30px
}

.mobile_nav li{
    margin-bottom: 20px;
}

.mobile_nav li a.nav_item {
    @apply text-white hover:text-yellow-400 ;
}



.dash_menu li a {
    @apply p-2 w-full items-center gap-2 font-semibold flex  ;
}

.dash_menu li a:hover{
    @apply text-darkNavyBlue bg-yellow1;
}


.dash_menu .active{
    @apply bg-yellow1 p-2 w-full flex items-center gap-2 text-darkNavyBlue font-semibold;
}


/* button green one*/



.btn-green1{
    @apply bg-green-400;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;   
    text-align: center;
    padding: 12px 38px;
    text-transform: uppercase;
    z-index: 1;
    transition: all 500ms ease;  
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    color:white;
    
}

.btn-green1::before {
    background-color: rgb(8, 8, 8);
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    right: 0px;
    top: 0px;
    opacity: 0.1;
    z-index: -1;
    transition: all 500ms ease;
  
}

.btn-green1:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.btn-green1:hover::before{
    width: 100%;
    left: 0;
}




.btn-red1{
    @apply bg-red-400;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;   
    text-align: center;
    padding: 12px 38px;
    text-transform: uppercase;
    z-index: 1;
    transition: all 500ms ease;  
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    color:white;
    
}

.btn-red1::before {
    background-color: rgb(8, 8, 8);
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    right: 0px;
    top: 0px;
    opacity: 0.1;
    z-index: -1;
    transition: all 500ms ease;
  
}

.btn-red1:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.btn-red1:hover::before{
    width: 100%;
    left: 0;
}



.manage_classes, th, td{
    @apply border;
    border-collapse: collapse;
}


}

